<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统指令v-model</title>
    <script src="./lib/vue221.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="username">
        <input type="password" v-model="password">

        <input type="submit" v-on:click="submit" value="提交">
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            username: "",
            password: "",
        },
        methods: {
            submit: function(){
                alert(this.username+ " password="+ this.password);
            }
        }
    });
</script>
</html>